@media (min-width: 1700px) {
    .container {
        max-width: 1700px !important;
    }
}
@media (min-width: 1500px) {
    .container {
        max-width: 1400px !important;
    }
}

.card {
    background-color: #F0F2F5;
}

@import "./black-theme.css"